.ic-top-categories-slider {
  padding: 0 30px;

  .slide-arrow {
    color: $color-gray500;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
  }

  .prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;

    i {
      font-size: 24px;
    }
  }

  .slick-list {
    margin: 0 -12px;
  }

  .slick-slide {
    margin: 0 12px;

    .color-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inherit;
    }

    div {
      margin-bottom: 24px;
    }
  }

  .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;

    i {
      font-size: 24px;
    }
  }

  .categories-s-item {
    height: 100px;
    border-radius: 100px;
    margin: 12px;

    img {
      border-radius: 100px;
      width: 100%;
      height: 100%;
    }
  }
}

.ic-categories-heading-menu {
  flex-wrap: nowrap !important;
  padding: 0 25px !important;
}

.ic-left-arrow,
.ic-right-arrow {
  background-color: transparent;
  display: none;

  i {
    font-size: 20px;
  }
}

.ic-categories-menus {
  width: 100%;
  @include d-flex();
  @include justify-content(space-between);

  gap: 30px;
  flex-wrap: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  a {
    white-space: nowrap;
    position: relative;
    padding: 12px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-primary;
      @include bd-radius(1px);
      opacity: 0;
    }

    &.active {
      color: $color-primary;

      &::after {
        opacity: 1;
      }
    }
  }
}

.ic-categories-menus::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.section-body {
  ul.categories-list {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.categories-list {
  @include d-flex;
  column-gap: 20px;
  row-gap: 26px;

  @media #{$max767} {
    row-gap: 20px;
    column-gap: 15px;
  }

  @media #{$max767} {
    column-gap: 20px;
  }

  li {
    width: calc(20% - 16px);
    flex-direction: column;
    background: $color-white;
    @include bd-radius(8px);
    border: 1px solid $color-border3;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
    align-items: center;
    justify-content: center;

    @media #{$max991} {
      width: calc(25% - 15px);
    }

    @media #{$max767} {
      width: calc(33.33% - 15px);
    }

    @media #{$max575} {
      width: 100%;
    }

    @include d-flex;
    gap: 5px;
    align-items: center;
    font-family: $font-lato;
    padding: 15px 10px;
    flex-wrap: nowrap;

    .brand-image {
      position: relative;
      width: 100%;
      min-width: auto;
      height: auto;
      padding-bottom: 22%;

      img {
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 100%;
      }
    }

    a {
      font-size: 16px;
      color: $color-ebony-clay;
      font-weight: 700;
      transition: all linear 0.3s;
      line-height: 22px;
      display: inline-block;

      h4 {
        font-weight: 700;
        font-size: 16px;
        color: $color-ebony-clay;

        span {
          color: #F94184;
        }
      }
    }

    ;
    // p {
    // color: #F94184;
    // font-size: 14px;
    // line-height: 24px;
    // font-weight: 600;
    // span {
    //     color: $color-body;
    //     font-size: 14px;
    // }
    // }
    // .location {
    // @include d-flex;
    // gap: 6px;
    // align-items: center;
    // h5 {
    //     font-size: 14px;
    //     line-height: 24px;
    //     font-weight: 600;
    //     color: $color-primary;
    // }
    // }
  }
}

.box-shadow {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  border: 1px solid $color-border;
}



.ic-another-deal {
  text-align: center;

  h1 {
    padding-bottom: 10px;

    @media #{$max575} {
      text-align: left;
      line-height: initial;
    }
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media #{$max575} {
      align-items: self-start;
      text-align: left;
      line-height: initial;
      justify-content: left;
    }

    i {
      font-size: 24px;
      color: $color-primary;
    }
  }
}

.ic-all-categories-letter {
  .section-card {
    .ic-coupons-type {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    a {
      color: $color-ebony-clay;
      transition: all 0.2 ease-in-out;

      &.active,
      &:hover {
        color: $color-primary;
      }
    }

    ;

  }
}