// ====== community style ======//
.ic-community {
    @media #{$max767} {
        margin: 20px 0;
    }
}

.ic-community-contributors-area {
    background-color: $color-white;
    padding: 25px 25px 18px;
    border-radius: 4px;

    @media #{$max991} {
        padding: 15px;
    }
}

.ic-community-heading {
    text-align: center;

    &.card-heading {
        margin-bottom: 24px;
        text-align: start;
    }

    @media #{$max767} {
        margin-bottom: 10px;
    }

    h1 {
        font-weight: 700;

        @media #{$max767} {
            font-size: 18px;
            line-height: 140%;
        }
    }
}

.ic-community-heading-bottom {
    @include d-flex();
    @include justify-content(center);
    gap: 16px;

    @media #{$max767} {
        margin-bottom: 10px;
    }

    span {

        font-weight: 600;
        color: $color-body;

        &.active {
            color: $color-primary;
        }
    }
}

.ic-community-heading-bottom {
    .form-check {
        min-height: unset;
        padding-left: unset;
        margin-bottom: unset;
        @include d-flex();
        @include align-items(center);
        gap: 16px;


        .form-check-input {
            margin-left: unset;
            height: 32px;
            width: 66px;
            float: unset;
            margin-top: unset;
            vertical-align: middle;
            border-color: $color-primary;
            background-color: $color-primary;
            background-image: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' %3e%3ccircle r='3' fill='%23fff' /%3e%3c/svg%3e");

        }

        .form-check-input:focus {
            box-shadow: none;
        }
    }
}




.ic-community-most-points-area {
    @include d-flex();


}

.ic-community-people-area {
    border: 1px solid $color-border;
    border-radius: 4px;
}

.ic-community-most-points-left {
    width: 100%;
    max-width: 217px;
    // @include d-flex();
    // flex-direction: column;
    // @include justify-content(space-between);
    min-height: 354px;

    border-right: 1px solid $color-border;

    @media #{$max991} {
        border-right: none;
        @include align-items(center);
        min-height: 230px;
        max-width: 100%;
    }

    &:first-child {
        border-bottom: 1px solid $color-border;
    }
}

.ic-reward-area {
    @include d-flex();
    flex-direction: column;
    @include justify-content(space-between);
    @include align-items(center);
    // height: 50%;
    gap: 40px;
}

.ic-community-most-point-reward {
    position: relative;
    // margin-left: 34px;
    // margin-bottom: 25px;
    // text-align: center;

    @media #{$max991} {
        margin-left: 0px;
    }

    .ic-reward-img {
        position: absolute;
        left: 28px;
        bottom: 28px;


    }

    .ic-dollar-img {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        margin: auto;
    }
}

.ic-most-point-title {
    padding: 16px 16px 0;

    h2 {
        font-size: 18px;
        font-weight: 600;
        font-family: $font-lato;
    }
}

// ic-most-points-right style ///
.ic-most-points-right {
    // width: 100%;
    flex: 1;
}

.ic-people-info {
    @include d-flex();
    @include align-items(center);
    @include justify-content(center);
    justify-content: space-between;
    padding: 15px 24px 15px 20px;
    border-bottom: 1px solid $color-border;

    @media #{$max991} {
        padding: 5px;
    }

    .ic-people {
        @include d-flex();
        @include align-items(center);
    }

    p {
        font-weight: 500;
        font-family: $font-lato;

        @media #{$max991} {
            font-size: 12px;
            font-weight: 600;
        }
    }

    .ic-people-img {
        margin-right: 16px;

        @media #{$max991} {
            margin-right: 5px;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50px;

            @media #{$max991} {
                width: 30px;
                height: 30px;
            }
        }
    }

    .ic-people-points {
        text-align: center;

        p {
            font-size: 14px;
        }
    }
}

.ic-community-offer-form {
    @extend .ic-community-contributors-area;
    margin-top: 30px;
}

.ic-community-offer-form {
    .ic-community-title {
        margin-bottom: 16px;

        h3 {
            font-weight: 600;
        }
    }

    form {
        .ic-form-group {
            margin-bottom: 20px;

            @media #{$max767} {
                margin-bottom: 10px;
            }
        }

        .form-label {
            font-size: 14px;
            font-weight: 500;
        }

        .form-control {
            &:focus {
                box-shadow: none;
                border-color: $color-primary;
            }

            &::placeholder {
                @media #{$max767} {
                    font-size: 12px;
                }
            }
        }

        .form-select {
            @extend .form-control;
        }

        textarea {
            border: 1px solid $color-border;
            max-height: 83px;
            border-radius: 4px;
            padding: 7px 0px 0px 14px;

            @media #{$max767} {
                max-height: 60px;
            }

            &:focus {
                border-color: $color-primary
            }
        }
    }
}

.ic-community-chat-right {
    @extend .ic-community-contributors-area;
    padding: 30px 0px 26px;

    @media #{$max767} {
        margin-top: 20px;
    }
}

.ic-community-chat-title {
    border-bottom: 1px solid $color-border3;
    padding: 0px 24px 14px;


    h2 {
        font-weight: 700;
    }
}

.ic-chatbox-area {
    height: 370px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ic-chatbox-user {
    @include d-flex();
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 25px;

    .ic-img-box {
        img {
            height: 26px;
            width: 26px;
            border-radius: 50px;
        }
    }

    .ic-chat-content {
        flex: 1;

        p {
            color: $color-body;
            font-size: 12px;

            &:last-child {
                // display: -webkit-box;
                // -webkit-line-clamp: 2;
                // -webkit-box-orient: vertical;
                // overflow: hidden;
                // text-overflow: ellipsis;
            }
        }


    }

    .ic-user-name-time {
        @include d-flex();
        @include justify-content(space-between);

        p {
            &:first-child {
                font-size: 13px;
                font-weight: 600;
                color: black;
            }
        }
    }

}

.ic-date-divider {
    position: relative;
    text-align: center;
    z-index: 9;


    &::before {
        content: '';
        position: absolute;
        background: $color-border3;
        width: 100%;
        height: 1px;
        top: 50%;
        left: 0;
        z-index: -1;
    }

    p {
        display: inline-block;
        padding: 0px 10px;
        background: white;
        font-size: 12px;
        font-weight: 500;
        color: $color-body;
    }
}

.ic-chatbox {
    @include d-flex();
    @include justify-content(space-between);
    border: 1px solid #C7D4ED;
    border-radius: 4px;
    padding: 7px 14px;
    margin: 18px 24px 0;

    @media #{$max991} {
        padding: 7px;
    }

    .ic-chat-input {
        flex: 1;
    }

    .input-filed {
        &::placeholder {
            font-size: 14px;
        }
    }

    .ic-chatbox-right {
        flex: 0 0 auto;
        margin-left: 5px;

        span {
            padding-right: 17px;
            color: $color-icon;

        }

        button {
            background: $color-primary;
            // padding: 10px;
            border-radius: 6px;
            color: white;
            display: inline-block;
            position: relative;
            height: 24px;
            width: 24px;
            // @include d-flex();
            // @include justify-content(center);
            // @include align-items(center);

            &::before {
                content: unset;
                position: absolute;
                background: $color-icon;
                height: 100%;
                width: 1px;
                top: 0;
                bottom: 0;
                left: -50%;
                margin: auto;
            }

            i {
                font-size: 13px;
            }
        }
    }
}

.ic-community-offer {
    padding: 30px 36px 21px 24px;
    border-radius: 6px;
    background: white;
    margin-top: 30px;
    box-shadow: $shadow;

    .ic-community-chat-title {
        padding: 0px 0px 15px 0;
        border-bottom: none;
    }

    ul {
        // list-style-type: disc;
        // list-style-position: inside;
        color: $color-body;

        li {
            margin-bottom: 20px;
            position: relative;
            padding-left: 11px;

            &::before {
                position: absolute;
                content: '';
                width: 4px;
                height: 4px;
                background: $color-body;
                top: 25%;
                left: 0;
                border-radius: 50px;
            }


            a {
                color: $color-primary;
            }
        }
    }

    .offer-bottom {
        width: 192px;
        @include d-flex();
        @include justify-content(space-between);

        span {
            font-size: 13px;
            font-weight: 700;
            color: $color-body;
        }

    }
}

.ic-Latest-contributions {
    @extend .ic-community-contributors-area;
    margin-top: 30px;
}

.ic-community-card-wrapper {
    @media #{$max575} {
        @include d-flex();
        gap: 24px;
    }
}

.ic-latest-contributions-card {
    border-color: $color-border;
    margin-bottom: 24px;

    @media #{$max575} {
        width: calc(100% / 2 - 24px + 24px / 2);
        margin-bottom: 0;
    }

    @media #{$max480} {
        width: 100%;
    }

    .ic-card-top {
        @include d-flex();
        @include justify-content(space-between);
        @include align-items(center);

        @media #{$max991} {
            padding: 10px;
            gap: 16px;
        }

        @media #{$max575} {
            display: block;
            gap: 10px;
        }



    }

    .ic-card-main-content {
        @include d-flex();

        @media #{$max991} {
            flex: 1;
            gap: 10px;
            @include align-items(center);
        }
    }

    .ic-card-img-left {
        @include d-flex();
        @include justify-content(center);
        @include align-items(center);
        width: 180px;
        // background-color: $bg-black;
        padding: 0px 10px;
        border-radius: 6px 0px 0px 0px;

        @media #{$max991} {
            border-radius: 6px;
            height: 110px;
            width: 124px;
            // margin-bottom: 10px;
        }

        @media #{$max575} {
            width: 100%;
        }

    }

    .ic-card-content-right {
        flex: 1;
    }

    .img-fluid {
        border-radius: 6px 0px 0px 0;


        @media #{$max575} {
            height: 100%;
        }

    }

    .ic-card-main-area {
        // @include d-flex();

    }

    .card-body {
        padding: 15px 18px 18px;
        width: 100%;
        max-width: 480px;

        @media #{$max991} {
            padding: 0;
        }
    }

    .card-initial {
        line-height: normal;
        font-family: $font-lato;

        @media #{$max991} {
            margin-bottom: 3px;
        }

        span {
            @media #{$max991} {
                font-size: 12px;
            }

            &:first-child {
                color: $color-primary;
                font-weight: 600;
                font-family: $font-lato;
                margin-right: 6px;
            }

            &:last-child {
                position: relative;
                color: $color-icon;
                font-weight: 600;
                font-family: $font-lato;
                padding-left: 6px;

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    background: $color-icon;
                    border-radius: 50px;
                    top: 50%;
                    left: 0;
                }
            }

        }
    }

    .card-title {
        font-weight: 600;
        line-height: normal;

        @media #{$max991} {
            font-size: 14px;
            margin-bottom: 5px;
        }

    }

    .card-text {
        color: $color-body;
        font-family: $font-lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media #{$max991} {
            font-size: 13px;
        }
    }

    .ic-card-btn {
        margin-right: 24px;

        @media #{$max991} {
            margin-right: 0px;
        }

        @media #{$max575} {
            margin-top: 8px;
        }

        .ic-btn {
            position: relative;
            height: 44px;
            padding: 0px 34px;
            font-size: 16px;
            font-weight: 600;
            font-family: $font-montserrat;
            white-space: nowrap;

            @media #{$max991} {
                // margin-top: 8px;
                height: 30px;
                font-size: 13px;
                font-weight: 500;
                padding: 0px 8px;

            }
        }

        .ic-btn-shape {
            top: 4px;
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            border-top: 12px solid transparent;
            border-right: 16px solid #10D3DC;
            border-bottom: 12px solid transparent;
            z-index: 9;

            @media #{$max991} {
                border-top: 8px solid transparent;
                border-right: 10px solid #10D3DC;
                border-bottom: 8px solid transparent;
            }
        }
    }

    .ic-card-bottom {
        width: 100%;
        border-top: 1px solid $color-border;
        padding: 12px 20px 16px;

        @media #{$max991} {
            padding: 10px;
        }

        p {
            color: $color-title;
            font-family: $font-lato;
            font-size: 16px;
            font-style: normal;
            line-height: 24px;

            @media #{$max991} {
                font-size: 14px;
            }

        }
    }
}

.ic-community-sponsor {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background: $gradient;
    margin-top: 30px;
    border-radius: 6px;

    .ic-sponsor-content {
        max-width: 232px;
        margin: auto;
        padding: 59px 0px 109px;

        h2 {
            color: #FFF;
            // font-family: Montserrat;
            font-size: 28px;
            font-style: italic;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 16px;
        }

        h1 {
            color: white;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
            margin-bottom: 26px;

            span {
                color: $color-primary;
            }
        }

        .ic-btn {
            padding: 0px 16px;
            background: white;
            color: $color-primary;
            border-radius: 50px;
            font-weight: 600;

            &:hover {
                background: $color-primary;
                color: white;
            }
        }
    }
}