// ====== coupon list page style ============//
.ic-account-content {
    &.ic-coupon-list-content {


        @media #{$max767} {
            flex-wrap: wrap;
        }
    }
}

.ic-coupon-list-table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dee2e6;

    thead {
        tr {
            th {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                font-family: $font-lato;
                background-color: #EBF0F5;
                white-space: nowrap;
                border-right: 1px solid #dee2e6;

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }


    tbody {
        tr {
            td {
                border-bottom: 1px solid #dee2e6;
                border-right: 1px solid #dee2e6;
                // white-space: nowrap;
                vertical-align: middle;

                &:first-child {
                    a {
                        color: $color-black;
                    }
                }

                &:last-child {
                    border-right: 0;
                    padding: 15px;
                    position: relative;
                }
            }

            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
    }


    .dropdown-menu {
        position: absolute;
        background: white;
        border-radius: 6px;
        top: 0;
        left: -166%;
        padding: 10px 0px;
        box-shadow: 2.66728px 26.67283px 150px 0px rgba(48, 48, 48, 0.30);
        z-index: 9;
        // opacity: 0;
        // visibility: hidden;

        // &.active {
        //     opacity: 1;
        //     visibility: visible;
        // }

        li {
            &:last-child {
                margin: 5px 15px 0;

                a {
                    &:last-child {
                        padding: 0;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }


        }

        a {
            padding: 5px 15px;
            @include d-flex();
            align-items: center;
            gap: 6px;
            color: $color-body;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background-color: $color-border;
            }
        }

    }

}

.dropdown-toggle::after {
    content: none;
}

.btn-group {
    .btn {
        border: 1px solid $color-border;
    }

    .btn:first-child:active {
        border-color: $color-border;
    }
}