.ic_terms_condition {
    padding: 70px 0;

    @media #{$max991}{
        padding: 40px 0;
    }
    @media #{$max767}{
        padding: 25px 0;
    }
    .ic_termsCondition_heading {
        .title {
            color: $color-title;
        }

        .des {
            color: $color-title;
        }
    }

    .ic_privacy_policy {
        .title {
            color: $color-title;
        }

        .des {
            color: $color-title;
        }

        ul {
            li::before {
                content: "";
                display: inline-block;
                transform: rotate(45deg);
                height: 12.8px;
                width: 6.88px;
                border-bottom: 2.4px solid $color-primary;
                border-right: 2.4px solid $color-primary;
                margin-right: 10px;
            }
        }
    }

    .nav-link {
        @include bd-radius(0);
        color: $color-black;
        border-left: 1px solid $color-primary;
        text-transform: capitalize;

        &.active {
            color: $color-primary;
            background-color: transparent;
            border-left: 2px solid $color-primary;
        }
    }

    .ic_left_menu {
        @media #{$max767} {
            max-height: 157px;
            overflow: auto;
        }
    }

    .ic_tab_wrapper {
        @media #{$max767} {
            .row {
                gap: 24px;
            }
        }
    }
}


.mb_60 {
    margin-bottom: 60px;

    @media #{$max1399} {
        margin-bottom: 55px;
    }

    @media #{$max1199} {
        margin-bottom: 50px;
    }

    @media #{$max991} {
        margin-bottom: 40px;
    }

    @media #{$max767} {
        margin-bottom: 30px;
    }
}

.mb_50 {
    margin-bottom: 50px;

    @media #{$max1399} {
        margin-bottom: 45px;
    }

    @media #{$max1199} {
        margin-bottom: 40px;
    }

    @media #{$max991} {
        margin-bottom: 30px;
    }

    @media #{$max767} {
        margin-bottom: 22px;
    }
}

.mb_25 {
    margin-bottom: 25px;

    @media #{$max991} {
        margin-bottom: 22px;
    }

    @media #{$max767} {
        margin-bottom: 20px;
    }

    @media #{$max575} {
        margin-bottom: 18px;
    }
}

.mb_15 {
    margin-bottom: 15px;

    @media #{$max1199} {
        margin-bottom: 13px;
    }

    @media #{$max991} {
        margin-bottom: 12px;
    }

    @media #{$max767} {
        margin-bottom: 10px;
    }
}




.fs_35 {
    font-size: 35px;

    @media #{$max1399} {
        font-size: 32px;
    }

    @media #{$max991} {
        font-size: 28px;
    }

    @media #{$max767} {
        font-size: 26px;
    }

    @media #{$max575} {
        font-size: 24px;
    }

    @media #{$max480} {
        font-size: 22px;
    }
}

.fs_20 {
    font-size: 20px;

    @media #{$max1399} {
        font-size: 19px;
    }

    @media #{$max1199} {
        font-size: 18px;
    }

    @media #{$max991} {
        font-size: 17px;
    }

    @media #{$max767} {
        font-size: 16px;
    }

    @media #{$max575} {
        font-size: 15px;
    }

    @media #{$max480} {
        font-size: 14px;
    }
}

.fs_16 {
    font-size: 16px;

    @media #{$max1399} {
        font-size: 15px;
    }

    @media #{$max1199} {
        font-size: 14px;
    }

    @media #{$max991} {
        font-size: 13px;
    }

    @media #{$max767} {
        font-size: 12px;
    }
}

.fs_15 {
    font-size: 15px;

    @media #{$max991} {
        font-size: 14px;
    }

    @media #{$max767} {
        font-size: 13px;
    }
}




.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}