.section-card {
  background-color: $color-white;
  @include bd-radius(4px);

  .ic-section-head {
    border-bottom: 1px solid $color-border;
    padding: 18px 30px;
    @include d-flex();
    justify-content: space-between;
    row-gap: 10px;

    h1 {
      line-height: 29.26px;
      font-weight: 700;
      font-family: $font-montserrat;

      @media #{$max1199} {
        font-size: 20px;
      }

      @media #{$max575} {
        font-size: 18px;
      }
    }

    a {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      color: $color-primary;
      font-family: $font-montserrat;
    }
  }

  .section-body {
    padding: 24px;
  }
}

.ic-top-deal-grid {
  @include d-flex();
  gap: 24px;

  // &:first-child {
  //     flex-wrap: nowrap;
  // }

  &.h-300 {
    .top-deal-items {
      height: 320px;

      @media #{$max575} {
        height: auto;
      }

      h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .top-deal-items {
    width: calc(100% / 5 - 24px + 24px / 5);
    box-shadow: $shadow;
    display: flex !important;
    flex-direction: column;
    box-shadow: $shadow;

    @include bd-radius(4px);

    @media #{$max1199} {
      width: calc(100% / 4 - 24px + 24px / 4);
    }

    @media #{$max991} {
      width: calc(100% / 3 - 24px + 24px / 3);
    }

    @media #{$max767} {
      width: calc(100% / 2 - 24px + 24px / 2);
    }

    @media(max-width: 435px) {
      width: calc(100% / 1 - 24px + 24px / 1);
    }

    .deal-logo {
      position: relative;
      width: 100%;
      min-width: auto;
      height: auto;
      padding-bottom: 60%;
      border-right: none;
      border-bottom: 1px solid rgba(112, 112, 112, 0.17);
      border-radius: 4px 4px 0 0;

      img {
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 10px;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 100%;
      }
    }

    .deal-info {
      flex: 1 0 auto;
      padding: 8px 16px 20px;
      border: 1px solid #F0F0F0;
      border-top: 0;
      border-radius: 0 0 4px 4px;

      span {
        font-size: 13px;
        font-family: $font-montserrat;
        display: inline-block;
        padding-bottom: 8px;
        color: $color-blue;
        font-weight: 600;
      }

      h4 {
        color: $color-ebony-clay;
        font-family: $font-montserrat;
        font-weight: 600;
        padding-bottom: 6px;
      }

      p {
        font-family: $font-lato;
        font-size: 16px;
        line-height: 22px;
        color: $color-body;
      }
    }
  }
}

.slider-section-body {
  padding: 24px;

  .ic-grid-card {
    // margin-bottom: 24px;
    height: 100%;
  }
}

.top-deals-slider {

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    margin: 0 12px;

    >div {
      height: 100%;
    }
  }

  /* the parent */
  .slick-list {
    margin: 0 -12px;
  }

  .slick-prev {
    position: absolute;
    top: -70px;
    right: 52px;
    color: #667085;
    background-color: transparent;
    font-size: 16px;
    border-radius: 4px;
    padding: 3px 7px;
    border: 1px solid $color-border3;

    &:hover {
      background: $color-primary;
      color: white;
      border: 1px solid $color-primary;
      @include transition(0.4s)
    }
  }

  .slick-next {
    @extend .slick-prev;
    right: 0;
  }

  i {
    font-weight: 600;
  }

  // .top-deal-items {
  //   margin-bottom: 24px;
  // }


}

.top-deal-items {
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow;
  @include bd-radius(4px);
  // @media #{$max1199} {
  //     width: calc(100% / 4 - 24px + 24px / 4);
  // }

  // @media #{$max991} {
  //     width: calc(100% / 3 - 24px + 24px / 3);
  // }

  // @media #{$max767} {
  //     width: calc(100% / 2 - 24px + 24px / 2);
  // }

  // @media (max-width: 435px) {
  //     width: calc(100% / 1 - 24px + 24px / 1);
  // }

  .deal-logo {
    position: relative;
    width: 100%;
    min-width: auto;
    height: auto;
    padding-bottom: 60%;
    border-right: none;
    border-bottom: 1px solid rgba(112, 112, 112, 0.17);
    border-radius: 4px 4px 0 0;

    img {
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 10px;
      transform: translate(-50%, -50%);
      z-index: 1;
      max-width: 100%;
    }
  }

  .deal-info {
    flex: 1 0 auto;
    padding: 8px 16px 20px;
    border: 1px solid #F0F0F0;
    border-top: 0;
    border-radius: 0 0 4px 4px;

    span {
      font-size: 13px;
      font-family: $font-montserrat;
      display: inline-block;
      padding-bottom: 8px;
      color: $color-blue;
      font-weight: 600;
    }

    h4 {
      color: $color-ebony-clay;
      font-family: $font-montserrat;
      font-weight: 600;
      padding-bottom: 6px;
    }

    p {
      font-family: $font-lato;
      font-size: 16px;
      line-height: 22px;
      color: $color-body;
    }
  }
}

.ic-best-coupon {
  background: $gradient;
  padding: 70px 0;

  @media #{$max767} {
    padding: 40px 0;
  }
}

.ic-latest-blog {
  img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  h4 {
    font-family: $font-montserrat;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  ul {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 8px;
    flex-wrap: wrap;
    row-gap: 8px;

    li {
      display: flex;
      gap: 6px;
      align-items: center;
      color: #929292;

      @media #{$max1366} {
        font-size: 14px;
      }
    }
  }

  p {
    font-size: 14px;
    color: $color-body;
    font-family: $font-lato;
  }
}

.ic-best-deal-offers {
  display: flex;
  height: 100%;

  @media(max-width: 400px) {
    flex-direction: column;
  }

  .ic-best-deal-left {
    background-color: #fff;
    width: 70%;
    padding: 27px 77px 27px 24px;
    border-radius: 10px 0 0 10px;
    --mask: radial-gradient(10px at 100% 10px, #0000 98%, #000) 0 -10px;
    -webkit-mask: var(--mask);
    mask: var(--mask);

    @media #{$max1399} {
      padding: 27px 20px 27px 24px;
    }

    @media #{$max480} {
      padding: 20px 20px 20px 15px;
    }

    @media(max-width: 400px) {
      width: 100%;
      --mask: radial-gradient(10px at 10px 100%, #0000 98%, #000) -10px;
      -webkit-mask: var(--mask);
      mask: var(--mask);
      border-radius: 10px 10px 0 0;
    }

    .shop-style {
      @include d-flex();
      gap: 20px;
      align-items: center;
      flex-wrap: nowrap;

      @media #{$max1399} {
        gap: 10px;
      }

      img {
        width: 70px;
        height: 70px;
        @include bd-radius(50%);
        object-fit: cover;

        @media #{$max1399} {
          width: 50px;
          height: 50px;
        }
      }

      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        font-family: $font-montserrat;
        color: $color-primary;

        @media #{$max1399} {
          font-size: 18px;
          font-weight: 500;
        }

        @media #{$max480} {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .ic-best-offers {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      font-family: $font-montserrat;
      padding-top: 10px;

      @media #{$max1399} {
        font-size: 16px;
        line-height: 24px;
      }

      @media #{$max480} {
        font-size: 14px;
      }
    }
  }

  .ic-best-deal-right {
    background: $gradient2;
    --mask: radial-gradient(10px at 0 10px, #0000 98%, #000) 0 -10px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    width: 195px;
    padding: 30px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
    justify-content: center;
    position: relative;

    @media #{$max1399} {
      padding: 30px 20px;
    }

    @media #{$max480} {
      width: 165px;
    }

    @media(max-width: 400px) {
      width: 100%;
      --mask: radial-gradient(10px at 10px 0, #0000 98%, #000) -10px;
      -webkit-mask: var(--mask);
      mask: var(--mask);
      border-radius: 0 0 10px 10px;
      padding: 12px 20px;
      gap: 16px;
    }

    p {
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      line-height: 30px;
      font-family: $font-lato;
      text-align: center;


      span {
        font-weight: 400;
        display: block;
      }
    }

    a {
      height: 40px;
      @include bd-radius(100px);
      padding: 0 22px;
      display: inline-flex;
      background-color: $color-primary;
      align-items: center;
      font-weight: 600;
      color: $color-white;
      @include transition(0.3s);
      border: 1px solid $color-primary;

      @media #{$max480} {
        font-size: 14px;
        align-items: center;
        padding: 0 14px;
      }

      &:hover {
        border: 1px solid $color-primary;
        background-color: transparent;
        color: $color-primary;
      }
    }
  }
}