.ic-account-wrapper {
  padding: 60px 0;

  @media #{$max575} {
    padding: 25px 0;
  }

  .ic-account-content {
    @include d-flex();
    gap: 40px;

    @media #{$max1199} {
      gap: 30px;
    }

    @media #{$max991} {
      gap: 25px;
    }

    @media #{$max575} {
      flex-direction: column;
      gap: 25px;
      flex-wrap: nowrap;
    }

    // account left sec
    .account-left_sec {
      width: 312px;

      @media #{$max991} {
        width: 300px;
      }

      @media #{$max767} {
        width: 100%;
        display: flex;
        width: 100%;
      }

      @media #{$max575} {
        width: 100%;
        display: block;
      }

      .card {

        background: $color-white;
        @include bd-radius(6px);
        border: 1px solid $color-border4;
        box-shadow: 0px 32px 28px 0px rgba(55, 62, 96, 0.02),
          0px 500px 417px 0px rgba(55, 62, 96, 0.04);

        @media #{$max767} {
          width: 50%;

        }

        @media #{$max575} {
          width: 100%;
        }

        h2 {
          font-family: $font-montserrat;
          font-weight: 600;
          font-size: 22px;
          line-height: 120%;
          margin-bottom: 6px;
          margin-top: 22px;
          color: $color-ebony-clay;

          @media #{$max1199} {
            font-size: 18px;
          }

          @media #{$max991} {
            font-size: 18px;
          }
        }

        &.user-info {
          padding: 37px 40px 40px;
          text-align: center;
          margin-bottom: 36px;

          @media #{$max767} {
            padding: 25px;
            margin-bottom: 0px;
          }

          @media #{$max575} {
            margin-bottom: 25px;
          }

          .user-image {
            position: relative;

            margin: 0 auto;

            img {
              width: 150px;
              height: 150px;
              object-fit: cover;
              @include box-circle();
              border: 3px solid $color-white;
            }

            .edit-image {
              position: absolute;
              right: 10px;
              bottom: 5px;
              width: 40px;
              height: 40px;
              line-height: 40px;
              box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
              background: $color-white;
              @include box-circle();

              label {
                cursor: pointer;
                line-height: 40px;
                width: 40px;
              }
            }
          }

          h2 {
            color: $color-primary;
          }

          h4 {
            font-family: $font-lato;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.16px;
            color: $color-gray3;
          }

          .user-earn-info {
            margin-top: 27px;

            @media #{$max767} {
              margin-top: 15px;
            }

            @media #{$max575} {
              margin-top: 27px;
            }

            div {
              @include d-flex();
              justify-content: space-between;

              h4 {
                font-family: $font-montserrat;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.16px;
                color: $color-ebony-clay;

                @media #{$max767} {
                  font-size: 14px;
                }

                span {
                  color: $color-primary;

                  @media #{$max767} {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }

        &.account-setting {
          padding: 24px 0 0;

          h2 {
            padding: 0 27px;
            margin-top: 0;
            margin-bottom: 17px;
          }

          ul {
            li {
              a {
                border-top: 1px solid $color-border4;
                padding: 18px 24px;
                display: flex;
                align-items: center;
                gap: 12px;
                color: $color-gray3;

                .icon {
                  line-height: 0;
                }

                h4 {
                  font-family: $font-lato;
                  font-weight: 400;
                  line-height: 24px;

                  @media #{$max1199} {
                    font-size: 14px;
                  }
                }

                &:hover,
                &.active {
                  background: rgba(0, 174, 182, 0.05);
                }
              }
            }
          }
        }
      }
    }

    // account right sec
    .account-right_sec {
      flex: 1;
      font-family: $font-montserrat;
      line-height: 24px;
      color: $color-body;
      width: calc(100% - 342px);

      @media #{$max1399} {
        width: calc(100% - 355px);
      }

      @media #{$max991} {
        width: calc(100% - 325px);
      }

      @media #{$max767} {
        width: calc(100% - 0px);
      }

      h1 {
        color: $color-ebony-clay;
        font-weight: 600;

        @media #{$max1199} {
          font-size: 20px;
        }

        @media #{$max991} {
          font-size: 18px;
        }
      }

      p {
        margin-top: 8px;
        color: $color-body;
        letter-spacing: 0.16px;

        @media #{$max1199} {
          font-size: 15px;
          line-height: 24px;
        }

        @media #{$max575} {
          font-size: 14px;
          line-height: 22px;
        }
      }

      // divider
      .line-divider {
        margin: 0 -30px;
        height: 1px;
        background: $color-border4;
      }

      button.ic-btn {
        padding: 9px 21px 9px 25px;
        box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15);
        @include bd-radius(100px);
        background: transparent;
        color: $color-primary;
        @include transition-linear(0.3s);
        margin-top: 10px;
        border: 1px solid $color-primary;

        &:hover {
          background: $color-primary;
          color: $color-white;
        }
      }

      .user-profile-update {
        background: $color-white;
        @include bd-radius(6px);
        padding: 24px 30px 30px;
        border: 1px solid $color-border4;
        box-shadow: 0px 32px 28px 0px rgba(55, 62, 96, 0.02),
          0px 500px 417px 0px rgba(55, 62, 96, 0.04);

        @media #{$max575} {
          padding: 20px;
        }

        form {
          margin-top: 27px;

          .form-group {
            &.row {
              margin: 0 -10px 20px;

              @media #{$max991} {
                margin-bottom: 0;

                .col-12 {
                  margin-bottom: 20px;
                }
              }

              @media #{$max767} {
                margin-bottom: 20px;

                .col-12 {
                  margin-bottom: 0;
                }
              }

              @media #{$max575} {
                margin-bottom: 0;

                .col-12 {
                  margin-bottom: 20px;
                }
              }
            }

            &.row>* {
              padding: 0 10px;
            }

            label {
              line-height: 20px;
              margin-bottom: 12px;
              color: $color-ebony-clay;

              @media #{$max575} {
                font-size: 14px;
                margin-bottom: 8px;
              }
            }

            input {
              @include bd-radius(4px);
              border: 1px solid;
              padding: 12px 16px;
              font-size: 14px;
              font-family: $font-lato;
              color: $color-body;
              border: 1px solid #d8dae5;

              &:focus {
                box-shadow: none;
                border: 1px solid $color-primary;
              }
            }
          }
        }

        // top section
        .top-sec {
          margin-bottom: 35px;
          @include d-flex;
          align-items: center;
          justify-content: space-between;

          @media #{$max575} {
            margin-bottom: 25px;
          }

          .edit-btn {
            @media #{$max1199} {
              margin-top: 10px;
            }

            a {
              display: block;
              padding: 4px 14px;
              background: rgba(0, 174, 182, 0.1);
              @include bd-radius(50px);
              color: $color-primary;
              font-weight: 600;
              @include transition-linear(0.1s);

              &:hover {
                background: $color-primary;
                color: $color-white;
              }
            }

            &.save {
              a {
                @include bd-radius(20px);
              }
            }
          }
        }

        // personal details
        .personal-details {
          margin-top: 19px;
          margin-bottom: 43px;

          @media #{$max575} {
            margin-bottom: 20px;
          }
        }

        // password details
        .password-details {
          margin-top: 21px;
        }
      }

      .delete-user-account {
        background: $color-white;
        margin-top: 30px;
        padding: 24px 30px 36px;
        border: 1px solid $color-border4;
        box-shadow: 0px 32px 28px 0px rgba(55, 62, 96, 0.02),
          0px 500px 417px 0px rgba(55, 62, 96, 0.04);

        @media #{$max575} {
          padding: 20px;
          margin-top: 25px;
        }

        button.ic-btn {
          margin-top: 20px;
        }
      }
    }
  }
}