.ic-popular-store-slider.single-product {

    h3 {
        color: #242B33;
        font-weight: 700;
        line-height: normal;
        margin-top: 8px;
        margin-bottom: 2px;

        @media #{$max991} {
            margin-top: 6px;
        }

        @media #{$max767} {
            margin-top: 5px;
        }

        @media #{$max575} {
            margin-top: 4px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 500;
        color: #00AEB6;

        @media #{$max767} {
            font-size: 12px;
        }

        @media #{$max575} {
            font-size: 12px;
        }
    }

}

.ic-frequently-questions.related-items {
    .related-card-wrapper {
        @include d-flex;
        @include flex-wrap(wrap);
        @include justify-content(center);
        gap: 24px;

        @media #{$max1650} {
            gap: 22px;
        }

        @media #{$max1399} {
            gap: 20px;
        }

        @media #{$max1199} {
            gap: 18px;
        }

        @media #{$max991} {
            gap: 16px;
        }

        @media #{$max767} {
            gap: 14px;
        }

        @media #{$max575} {
            gap: 10px;
        }

        .related-card {
            width: calc(100% / 5 - 24px + 24px / 5);

            @media #{$max1650} {
                width: calc(100% / 5 - 22px + 22px / 5);
            }

            @media #{$max1399} {
                width: calc(100% / 5 - 20px + 20px / 5);
            }

            @media #{$max1199} {
                width: calc(100% / 4 - 18px + 18px / 4);
            }

            @media #{$max991} {
                width: calc(100% / 3 - 16px + 16px / 3);
            }

            @media #{$max767} {
                width: calc(100% / 2 - 14px + 14px / 2);
            }

            @media #{$max575} {
                width: 100%;
            }

            .top-image {
                height: 160px;
                padding: 12px;
                @include align-center;
                @include bd-radius(4px);
                background-color: #F2F2F2;
                margin-bottom: 14px;
                width: 100%;

                @media #{$max1399} {
                    font-size: 15px;
                }

                @media #{$max991} {
                    padding: 10px;
                }

                @media #{$max767} {
                    padding: 8px;
                }

                @media #{$max575} {
                    height: unset;
                }

                img {
                    max-height: 148px;
                    object-fit: cover;
                }
            }

            .related-card-title {
                line-height: normal;
                color: #242B33;
                font-weight: 500;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;

                padding-right: 10px;
                margin-bottom: 8px;

                @media #{$max1399} {
                    font-size: 15px;
                }

                @media #{$max991} {
                    padding-right: 8px;
                    margin-bottom: 6px;
                    font-size: 14px;
                }

                @media #{$max767} {
                    padding-right: 7px;
                    margin-bottom: 5px;
                }

                @media #{$max575} {
                    padding-right: 6px;
                    margin-bottom: 4px;
                }
            }

            .related-card-price {
                color: #00AEB6;
                line-height: normal;
                font-weight: 700;
                font-family: $font-lato;

                margin-bottom: 10px;

                @media #{$max1399} {
                    font-size: 15px;
                }

                @media #{$max991} {
                    margin-bottom: 8px;
                    font-size: 14px;
                }

                @media #{$max767} {
                    margin-bottom: 7px;
                }

                @media #{$max575} {
                    margin-bottom: 6px;
                }
            }

            .compare-button {
                border-top: 1px solid #F2F2F2;
                border-bottom: 1px solid #F2F2F2;
                font-style: normal;
                font-weight: 700;
                color: #555;
                font-family: $font-lato;
                display: block;

                padding: 10px 0;
                font-size: 15px;

                @media #{$max1399} {
                    font-size: 14px;
                }

                @media #{$max991} {
                    padding: 8px 0;
                    font-size: 13px;
                }

                @media #{$max767} {
                    padding: 7px 0;
                }

                @media #{$max575} {
                    padding: 6px 0;
                }
            }
        }
    }
}

.ic-product-details-wrapper {

    .ic-product-details {
        @include d-flex;
        @include flex-wrap(wrap);
        gap: 30px;

        @media #{$max1650} {
            gap: 26px;
        }

        @media #{$max1399} {
            gap: 24px;
        }

        @media #{$max1199} {
            gap: 20px;
        }

        @media #{$max991} {
            gap: 16px;
        }

        .left-content {
            width: calc(21% - 30px + 30px / 2);

            @include d-flex;
            flex-direction: column;
            row-gap: 30px;

            @media #{$max1650} {
                width: calc(22% - 26px + 26px / 2);
            }

            @media #{$max1399} {
                width: calc(23% - 24px + 24px / 2);
            }

            @media #{$max1199} {
                width: calc(25% - 20px + 20px / 2);
            }

            @media #{$max991} {
                width: 100%;
                gap: 16px;
                flex-direction: row;
            }

            .ic-main-product {
                width: 100%;

                @media #{$max991} {
                    width: calc(100% / 2 - 16px + 16px /2);
                }

                @media #{$max480} {
                    width: 100%;
                }
            }

            .ic-sort-by {
                width: 100%;

                @media #{$max991} {
                    width: calc(100% / 2 - 16px + 16px /2);
                }

                @media #{$max480} {
                    width: 100%;
                }
            }
        }

        .right-content {
            width: calc(79% - 30px + 30px / 2);

            @media #{$max1650} {
                width: calc(78% - 26px + 26px / 2);
            }

            @media #{$max1399} {
                width: calc(77% - 24px + 24px / 2);
            }

            @media #{$max1399} {
                width: calc(75% - 20px + 20px / 2);
            }

            @media #{$max991} {
                width: 100%;
            }
        }

        .common-card-design {
            padding: 24px;
            background-color: #ffff;
            @include bd-radius(6px);
            border: 1px solid #EAEFF3;
            /* Shadow 6 */
            box-shadow: 0px 32px 28px 0px rgba(55, 62, 96, 0.02), 0px 500px 417px 0px rgba(55, 62, 96, 0.04);

            @media #{$max1650} {
                padding: 22px;
            }

            @media #{$max1399} {
                padding: 20px;
            }

            @media #{$max1199} {
                padding: 18px;
            }

            @media #{$max991} {
                padding: 16px;
            }
        }

        .ic-main-product {
            .top-image {
                height: 200px;
                padding: 17px;
                @include align-center;
                @include bd-radius(4px);
                background-color: #F2F2F2;
                margin-bottom: 20px;
                width: 100%;

                @media #{$max1399} {
                    font-size: 15px;
                    margin-bottom: 17px;
                }

                @media #{$max1199} {
                    margin-bottom: 15px;
                }

                @media #{$max991} {
                    padding: 10px;
                    margin-bottom: 13px;
                }

                @media #{$max767} {
                    padding: 8px;
                    margin-bottom: 11px;
                }

                @media #{$max575} {
                    height: unset;
                    margin-bottom: 10px;
                }

                img {
                    max-height: 183px;
                    object-fit: cover;
                }
            }

            h3 {
                font-style: normal;
                font-weight: 700;
                color: #242B33;
                margin-bottom: 8px;

                @media #{$max1399} {
                    font-size: 16px;
                }

                @media #{$max991} {
                    margin-bottom: 6px;
                    font-size: 15px;
                }

                @media #{$max767} {
                    margin-bottom: 5px;
                    font-size: 14px;
                }

                @media #{$max575} {
                    margin-bottom: 4px;
                }
            }

            p {
                color: #555;
                font-family: $font-lato;

                @media #{$max1399} {
                    font-size: 15px;
                }

                @media #{$max991} {
                    font-size: 14px;
                }

                @media #{$max767} {
                    font-size: 13px;
                }
            }

        }

        .ic-sort-by {

            .form-check {
                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                .form-check-input {
                    border-color: #D0D5DD;

                    &:checked {
                        background-color: #00AEB6;
                    }
                }

                .form-check-label {
                    color: #555;
                    font-weight: 500;
                    // font-family: $font-montserrat;
                    line-height: normal;
                    cursor: pointer;

                    @media #{$max1399} {
                        font-size: 15px;
                    }

                    @media #{$max991} {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

.table-top-header {
    @include d-flex;
    @include flex-wrap(nowrap);
    @include justify-content(space-between);
    @include align-items(center);
    gap: 14px;

    @media #{$max575} {
        flex-wrap: wrap;
        @include justify-content(center);
        gap: 8px;
    }

    h2 {
        font-size: 22px;
        font-weight: 600;
        line-height: normal;
        color: #242B33;
        font-family: $font-lato;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 600px;

        @media #{$max1399} {
            font-size: 20px;
        }

        @media #{$max1199} {
            font-size: 18px;
        }

        @media #{$max991} {
            font-size: 16px;
        }
    }

    .table-right-content {
        @include d-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 0 0 auto;

        h4 {
            font-family: $font-lato;
            font-weight: 600;
            line-height: normal;
            color: #242B33;
        }

        p {
            font-weight: 400;
            line-height: normal;
            color: #555;
        }
    }
}

.ic_table {
    &> :not(:first-child) {
        border-top: none;
    }

    margin-bottom : 20px;

    thead {
        vertical-align: middle;

        tr {
            border-radius: 5px 5px 0 0;

            th {
                background-color: #EBF0F5;
                color: #242B33;
                text-transform: capitalize;
                font-weight: 500;
                font-size: 16px;
                padding: 12px;
                border-bottom-width: 0;
                white-space: nowrap;
                font-family: $font-lato;
                border-right: 1px solid #EBE7E7;

                @media #{$max1399} {
                    font-size: 15px;
                }

                @media #{$max1199} {
                    font-size: 14px;
                }

                @media #{$max991} {
                    font-size: 13px;
                }

                &:not(:nth-child(1)):not(:nth-child(2)) {
                    text-align: center;
                }

                &:first-child {
                    border-left: 1px solid #EAECF0;
                }


            }
        }
    }

    tbody {
        vertical-align: middle;

        tr {
            @include transition-linear(0.2s);

            &:hover {
                background-color: #F9FAFB;
            }

            td {
                color: #242B33;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 16px;
                padding: 15px;
                font-family: $font-lato;
                border-right: 1px solid #EBE7E7;
                white-space: nowrap;

                @media #{$max1399} {
                    font-size: 14px;
                }

                @media #{$max1199} {
                    font-size: 13px;
                }

                @media #{$max991} {
                    font-size: 12px;
                }



                &:not(:nth-child(1)):not(:nth-child(2)) {
                    text-align: center;
                }

                &:first-child {
                    border-left: 1px solid #EAECF0;
                }

            }




            .ic-table-profile {
                @include d-flex;
                @include flex-wrap(nowrap);
                @include align-items(center);
                // @include justify-content(center);
                gap: 10px;
                white-space: nowrap;

                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #4C516D;
                }

                .ic_image {
                    flex: 0 0 auto;


                    @include box(50px, 50px);
                    @include bd-radius(50%);
                    // border: 1px solid #EAECF0;
                    @include align-center;
                    background-color: #F2F2F2;

                    @media #{$max1650} {
                        @include box(48px, 48px);
                    }

                    @media #{$max1399} {
                        @include box(46px, 46px);
                    }

                    @media #{$max1199} {
                        @include box(44px, 44px);
                    }

                    @media #{$max991} {
                        @include box(42px, 42px);
                    }

                    @media #{$max767} {
                        @include box(40px, 40px);
                    }

                    @media #{$max575} {
                        @include box(38px, 38px);
                    }

                    img {
                        max-width: 100%;
                        height: auto
                    }
                }
            }

            .table-btn-link {

                @include bd-radius(100px);
                height: 40px;
                padding: 0 22px;
                display: inline-flex;
                align-items: center;
                font-weight: 600;
                @include transition(0.3s);
                color: $color-primary;
                background-color: transparent;
                border: 1px solid $color-primary;
                line-height: normal;

                @media #{$max1650} {
                    height: 38px;
                    padding: 0 20px;
                }

                @media #{$max1399} {
                    font-size: 15px;
                    height: 36px;
                    padding: 0 19px;
                }

                @media #{$max1199} {
                    font-size: 14px;
                    height: 34px;
                    padding: 0 18px;
                }

                @media #{$max991} {
                    font-size: 13px;
                    padding: 0 16px;
                }


                &:hover {
                    border: 1px solid $color-primary;
                    background-color: $color-primary;
                    color: $color-white;
                }

            }

        }
    }
}

.single-product-space-mb-70 {
    margin-bottom: 70px;

    @media #{$max1650} {
        margin-bottom: 60px;
    }

    @media #{$max1399} {
        margin-bottom: 50px;
    }

    @media #{$max1199} {
        margin-bottom: 40px;
    }

    @media #{$max991} {
        margin-bottom: 16px;
    }
}

.single-product-space-mt-70 {
    margin-top: 70px;

    @media #{$max1650} {
        margin-top: 60px;
    }

    @media #{$max1399} {
        margin-top: 50px;
    }

    @media #{$max1199} {
        margin-top: 40px;
    }

    @media #{$max991} {
        margin-top: 16px;
    }
}

.ic_paggination_wrapper {

    ul {
        display: inline-flex;


        li {
            &:first-child {
                margin-right: 30px;

                @media #{$max1399} {
                    margin-right: 26px;
                }

                @media #{$max1199} {
                    margin-right: 24px;
                }

                @media #{$max991} {
                    margin-right: 22px;
                }

                @media #{$max767} {
                    margin-right: 18px;
                }

                @media #{$max575} {
                    margin-right: 16px;
                }
            }

            &:last-child {
                margin-left: 30px;

                @media #{$max1399} {
                    margin-left: 26px;
                }

                @media #{$max1199} {
                    margin-left: 24px;
                }

                @media #{$max991} {
                    margin-left: 22px;
                }

                @media #{$max767} {
                    margin-left: 18px;
                }

                @media #{$max575} {
                    margin-left: 16px;
                }
            }

            a {
                @include align-center;
                text-decoration: none;
                color: #4C516D;
                height: 38px;
                width: 38px;
                font-weight: 500;
                font-size: 14px;
                @include bd-radius(8px);
                @include transition-linear(0.2s);

                @media #{$max1399} {
                    font-size: 13px;
                    height: 34px;
                    width: 34px;
                }

                @media #{$max1199} {
                    height: 32px;
                    width: 32px;
                }

                @media #{$max991} {
                    font-size: 12px;
                    height: 30px;
                    width: 30px;
                }

                @media #{$max767} {
                    height: 28px;
                    width: 28px;
                }

                @media #{$max575} {
                    height: 26px;
                    width: 26px;
                }

                &.active {
                    color: #ffff;
                    background-color: #00AEB6;
                }

                &:hover:not(.active) {
                    color: #ffff;
                    background-color: #00AEB6;

                    svg {
                        // path {
                        fill: #ffff;
                        // }
                    }
                }
            }
        }
    }
}