.user-profile-update {
    &.ic-submit-coupon-area {
        .top-sec {
            h1 {
                font-weight: 700;
            }

            p {
                color: $color-body;
                font-weight: 500;
                font-family: $font-lato;
            }
        }

        form {
            margin-top: 8px;
        }


    }
}