.terms-condition-wrapper {
  color: $color-ebony-clay;
  .section-body {
    h3 {
      @media #{$max991} {
        font-size: 16px;
      }
    }
    ol {
      padding-left: 16px;
    }
    li,
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      font-family: $font-lato;
      color: $color-body;
      margin-bottom: 20px;
      @media #{$max991} {
        font-size: 15px;
      }
    }
    p {
      margin-bottom: 16px;
      a{
        color: $color-primary;
      }
    }
  }
}
