.top-deals-coupon {
    padding: 95px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media #{$max991} {
        padding: 50px 0;
    }
}

.ic-deals-banner {
    text-align: center;

    h2 {
        color: $color-white;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        padding-bottom: 16px;

        @media #{$max991} {
            font-size: 30px;
        }
    }

    p {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        color: #fff;
        padding-bottom: 50px;

        @media #{$max991} {
            padding-bottom: 20px;
            font-size: 16px;
        }
    }
}

.menu-items-catagories {
    padding-top: 70px;

    .ic-top-deals-menus {
        padding-bottom: 38px;

        ul {
            @include d-flex();
            gap: 50px;

            @media #{$max1399} {
                gap: 30px;
                row-gap: 20px;
            }

            li {
                a {
                    color: #242B33;
                    font-family: $font-montserrat;
                    font-weight: 600;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $color-primary;
                        opacity: 0;
                    }

                    &.active {
                        color: $color-primary;

                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}