.banner-part-grid {
  @include d-flex();
  margin-top: 25px;
  gap: 24px;

  .ic-banner-left {
    width: 312px;
    flex: 0 0 auto;

    @media #{$max1399} {
      width: 260px;
    }

    @media #{$max1199} {
      display: none;
    }

    ul {
      background-color: $color-white;
      @include bd-radius(8px);
      border: 1px solid $color-border2;

      li {
        a {
          padding: 14px 27px;
          color: $color-shuttle-gray;
          display: inline-flex;
          align-items: center;
          gap: 12px;
          width: 100%;
          border-bottom: 1px solid $color-border2;
          @include transition(0.3s);

          &:hover {
            color: $color-primary;

            img {
              filter: invert(43%) sepia(94%) saturate(1944%) hue-rotate(150deg) brightness(98%) contrast(102%);
            }
          }
        }

        &:last-child {
          a {
            font-weight: 600;
            border-bottom: 0;
          }
        }
      }
    }
  }

  .ic-banner-right {
    width: calc(100% - 336px);
    flex: 0 0 auto;

    @media #{$max1399} {
      width: calc(100% - 284px);
    }

    @media #{$max1199} {
      width: calc(100% - 0px);
    }
  }
}

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}


.ic-banner-slider {
  height: 100%;
  @include bd-radius(8px);
  // height: 473px;
  position: relative;

  .slick-dots {
    display: flex;
    gap: 4px;
    margin-top: 30px;
    justify-content: center;

    li {
      button {
        color: transparent;
        width: 6px;
        height: 6px;
        @include bd-radius(50%);
        background-color: $color-body;
        @include transition(0.3s);

      }

      &.slick-active {
        button {
          width: 15px;
          border-radius: 50px;
        }
      }
    }
  }

  .banner-grid {
    display: flex;
    gap: 24px;

    @media #{$max991} {
      gap: 10px;
    }

    @media #{$max767} {
      flex-direction: column;
    }

    .grid-item-left {
      flex: 0 0 auto;
      width: 65%;

      @media #{$max767} {
        width: 100%;
      }
    }

    .grid-item-right {
      flex: 0 0 auto;
      width: calc(35% - 24px);

      @media #{$max991} {
        width: calc(35% - 10px);
      }

      @media #{$max767} {
        width: 100%;
        display: flex;
        gap: 10px;
      }

      @media #{$max480} {
        flex-direction: column;
      }

      .slider-items-1 {
        height: 208px;
        background-repeat: no-repeat;
        background-position: center;
        @include bd-radius(8px);

        @media #{$max767} {
          width: calc(100% / 2 - 10px + 10px / 2);
        }

        @media #{$max480} {
          width: calc(100% / 1 - 10px + 10px / 1);
        }

        &:not(:last-child) {
          margin-bottom: 24px;

          @media #{$max991} {
            margin-bottom: 10px;
          }

          @media #{$max480} {
            margin-bottom: 0;
          }
        }

        a {
          display: block;
          height: 100%;

        }

        .short-items {
          height: 100%;
          @include bd-radius(8px);
          background-size: cover;

          .ic-banner-short-content {
            padding: 24px 0;
            margin: 0 24px;
            width: 154px;
            display: flex;
            flex-direction: column;
            height: 100%;

            h3 {
              padding-bottom: 12px;
              color: $color-white;
              font-family: $font-montserrat;
              line-height: 24px;
              font-weight: 600;

              @media #{$max991} {
                line-height: 20px;
                font-size: 14px;
              }
            }

            span {
              font-weight: 600;
              color: $color-white;

              @media #{$max991} {
                font-size: 14px;
              }
            }

            p {
              margin-top: auto;
              font-weight: 600;
              color: $color-white;
              text-decoration: underline;

              @media #{$max991} {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .slide-arrow {
    width: 40px;
    height: 40px;
    @include bd-radius(50%);
    background-color: $color-ebony-clay;
    color: $color-white;
    text-align: center;
    line-height: 40px;
    opacity: 0;
  }

  .prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
  }

  .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
  }

  .banner-slider-items {
    display: block;
    height: 440px;
    @include bd-radius(8px);
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;

    @media #{$max991} {
      height: 428px;
    }

    @media #{$max767} {
      height: 300px;
    }

    .ic-banner-content-right {
      width: 273px;
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 53px 0;

      @media #{$max991} {
        width: 210px;
      }

      @media #{$max767} {
        padding: 20px 0;
      }

      @media #{$max480} {
        width: 168px;
      }

      h1 {
        color: $color-white;
        font-weight: 700;
        font-family: $font-montserrat;
        font-size: 25px;
        line-height: 34px;
        padding-bottom: 20px;
        padding-right: 30px;

        @media #{$max991} {
          font-size: 20px;
          line-height: 28px;
        }

        @media #{$max480} {
          font-size: 16px;
          line-height: 24px;
        }
      }

      span {
        font-family: $font-montserrat;
        font-size: 18px;
        font-weight: 600;
        color: $color-white;
      }

      p {
        margin-top: auto;
        font-family: $font-montserrat;
        font-size: 18px;
        font-weight: 600;
        color: $color-white;
        display: inline-block;
        border-bottom: 2px solid $color-white;
        align-self: baseline;
      }
    }

    &.slick-active {
      h1 {
        animation-name: fadeInUpSD;
        animation-duration: 1s;
        animation-delay: 1s;
        opacity: 1;
      }

      span {
        animation-name: fadeInUpSD;
        animation-duration: 1.2s;
        animation-delay: 1s;
        opacity: 1;
      }

      p {
        animation-name: fadeInUpSD;
        animation-duration: 1.5s;
        animation-delay: 1s;
        opacity: 1;
      }
    }
  }

  &:hover {
    .slide-arrow {
      opacity: 1;
    }
  }
}

.ic-popular-store-slider {
  padding: 0 30px;
  position: relative;

  .slide-arrow {
    color: $color-gray500;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
  }

  .prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    z-index: 1;

    i {
      font-size: 24px;
    }
  }

  .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    z-index: 1;

    i {
      font-size: 24px;
    }
  }

  .slick-list {
    margin: 0 -24px;
  }

  .slick-slide {
    margin: 0 12px;
  }

  .popular-store-s-item {
    height: 100px;
    padding: 10px;
    text-align: center;
    display: flex !important;
    justify-content: space-around;
    background-color: $color-white;
    box-shadow: $shadow;
    flex-direction: column;
    @include bd-radius(8px);
    margin: 12px 0;
    border: 1px solid $color-border;
    overflow: hidden;
    display: block !important;

    .brand_logo {
      position: relative;
      width: 100%;
      min-width: auto;
      height: auto;
      padding-bottom: 22%;

      img {
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 100%;
      }
    }

    h4 {
      color: $color-ebony-clay;
      font-weight: 700;
      font-size: 16px;

      span {
        color: #F94184;
      }
    }
  }
}